<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <form method="POST" action="/user/signup" enctype="multipart/form-data">
        <label>First Name</label>
        <input type="text" name="firstName" id="" placeholder="ur firstname">
         <label>Second Name</label>
        <input type="text" name="secondName" id="" placeholder="ur secondName"> 
        <label>Email</label>
        <input type="text" name="email" id="" placeholder="ur@example.com"> 
        <label>Password</label>
        <input type="text" name="password" id="" placeholder="ur password">
        <label >Profile photo</label>
        <input type="file" name="profilePhoto">
        <label >Profile describtion pdf</label>
        <input type="file" name="profilePdf">
        <label >Profile Video</label>
        <input type="file" name="profileVideo">
        <button type="submit">submit</button>
    </form>
    <div>
        <p>
            <% if (locals.msg) { %>
                 <%= locals.msg %>
            <% } %>
        </p>
    </div>
</body>
</html>